/*For the sign in and sign up pages the basck-arrow style*/
.back-arrow{
    color: white;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 30px;
}

.centered-box {
    justify-content: center;
    text-align: center;
    width: 30%; 
    height: 40vh;
    background-color: white; 
    border-radius: 5px; 
    margin-top: 2%; 
    margin-bottom: 3%;
    margin-left: 30%;
}
.custom-card{
    width: 250px;
    margin-right: 50px;
}
.dashboard-middle-content {
    margin-top: 7%;
    margin-left: 5%;
    display: block;
    
}
.dashboard-top-content {
    margin-top: 0.5%;
    margin-left: 5%;
    display: block;
}
.std-dashboard{
    margin-left: -70%;
    text-align: center;
}
.dashboard{
    text-align: center;
    margin-left: -45%;
}
.event-flyers{
    width: 500px;
    margin-left: 2%;
    margin-bottom: 3%;
}
.link{
    color: blue;
}
.top-content {
    margin-top: 0.5%;
    margin-left: 5%;
    display: block;
}
.content{
    width: 100%;
    overflow-y: scroll;
}
.profile-content{
    margin-top: 7%;
    margin-left: 10%;
    width: 100%;
}
.profile-edit{
    float: right;
}
.middle-content {
    margin-top: 18%;
    margin-left: 5%;
    display: block;
}
.middle-content-task {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
}
.page-title{
    font-size: x-large;
    padding: 25px;
}
.fiskite{
    display: inline;
}
.snooze{
    margin-top: 8%;
    width: 80px;
}
.task-card {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.task-title{
    text-align: center;
    margin-top: 0px;
}
.task-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.task-form-button{
    background-color: #004AAD;
    color:white;
    position: fixed;
    bottom: 10%;
    right: 6%;
}
.user-form-button{
    background-color: #004AAD;
    color:white;
    position: fixed;
    bottom: 10%;
    right: 10%;
}
.user-form-modal{
    margin-top: 5%;
}

.user-form-submit{
    background-color: #004AAD;
    color:white;
    float: right;
}
.users{
    margin-top: 1%;
    margin-left: 10%;
    width: 100%;
}
.users-table{
    margin-top: 3%;
    width: 85%;
}