#root {
  max-width: 100vw;
  margin: 0;
  padding: 0 ;
  font-family: "Poppins";
  overflow: hidden;
}

.banner{
  height: 8%;
  background-color: #004AAD;
  width: 100vw;
}

.error{
  text-align: center;
  color: #ffff;
}
.footer{
  background-color:#ffff;
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.get-started{
  position: absolute;
  right: 5%;
  bottom: 15%;
  width: auto; /* Allow the width to shrink with the content */
  padding: 1px 10px; /* Adjust padding as needed */
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 1rem;
}
.globe{
  position: absolute;
  right: 40px;
  top: 20px;
  width: 140px;
}
.header{
  font-size:xx-large;
  text-align: center;
  color: #FFA216;
}
.home{
  display: flex;
  flex-direction: column;
  flex: 1;
  height:100vh;
}
.image {
  width: 100vmax;
  height: 100vh;
  top:0;
  position: fixed;
  background-position: center;
  background-size: cover;
  background-image: url(./images/welcome_page_background.jpg);
}

.image-overlay{
  width: 100vmax;
  height: 40%;
  background-color: #004AAD;
  opacity: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  align-items: center;
}

.login{
  width: 40%;
  height: 100%;
  background-color: #004AAD;
  opacity: 80%;
  display: table;
}

.landing-logo{
  color: #FFA216;
  font-weight: 900px;
  margin-bottom: 3%;
}

.logo{
  color:#FFA216;
  font-weight: 900px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  flex:1;
  overflow: hidden;
}

.no_task{
  margin-top: 20%;
}

.login-form {
  top: 15vh;
  position: relative;
  margin-bottom: 5%;
  width: 80%;
  padding-left: 15%;  
}

.signup-form {
  margin-bottom: 5%;
  width: 80%;
  padding-left: 15%;
  text-shadow: none;
}

.forgot-password {
  margin-right: 10%;
  float: right;
  color: white;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
}
.login-redirect{
  color: white;
  text-align: center;
  padding: 5px;
  cursor:default;
}
.pwd-redirect{
  color: white;
  text-align: right;
  padding: 5px;
  margin-top: 120px;
}
.pwd-redirect-text{
  color: white;
  text-decoration: underline;
  margin-right: 10%;
  cursor:pointer;
  
}
.login-redirect-text{
  color: white;
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
}
.welcome-message{
  text-align: center;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1%;
  font-weight: 100;
  color: white;
}
.nav-width{
  width: 15vw;
}
.side-menu{
  display: flex;
  flex-direction: row;
}
.side-logo{
  float: left;
  margin-left: 2%;
  color: #FFA216;
  margin-top: 1%;
}
.user-icons{
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  display: inline-block;
}

.std-home{
  background-color: #F1F7FF;
  height: 100vh;
  max-width: 100vw;
}
